.square-tab {
  --cover-size: 120px;

  display: flex;
  flex-direction: column;
  height: 100%;

  .scroll-view {
    flex-grow: 1;
  }

  .circle-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    padding: 0 var(--gap-sm) var(--gap-sm);
  }
}
