.square-tab {
  --gap-xs: 0.25rem;
  --gap-sm: 0.5rem;
  --gap-md: 1rem;
  --gap-lg: 1.5rem;

  --font-sm: .7rem;
  --font-md: .8rem;
  --font-lg: 1rem;
  --font-xl: 1.2rem;

  --color-primary: #ff6700;

  --cover-size: 120px;

  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: var(--font-md);

  .scroll-view {
    flex-grow: 1;
  }

  .circle-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    padding: 0 var(--gap-sm) var(--gap-sm);
  }

  .circle-item{
    display: flex;
    gap: var(--gap-sm);
    background-color: #fff;
    padding: var(--gap-sm);
    border-radius: var(--gap-sm);

    &__cover{
      flex-shrink: 0;
      width: var(--cover-size);
      height: var(--cover-size);
      background-color: var(--color-primary);
      border-radius: var(--gap-xs);
    }

    &__top{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__info{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__name{
      font-size: var(--font-md);
    }

    &__follow{
      flex-shrink: 0;
      padding: var(--gap-xs) var(--gap-sm);
      border-radius: 999px;
      border: 1px solid var(--color-primary);
      font-size: var(--font-sm);
      line-height: 1;
      color: var(--color-primary);
    }

    &__actions{
      display: flex;
      justify-content: space-between;
      font-size: var(--font-sm);
      color: #999;
    }
  }
}
