.community-detail-page{
  height: 100%;
  padding: 1rem 1rem 4rem;
  background-color: #fff;
  box-sizing: border-box;
  overflow: scroll;

  .auth-info{
    padding-bottom: .5rem;
    border-bottom: 2px solid #ccc;
  }

  .post-content{
    margin-top: .5rem;
    font-size: .8rem;
  }

  .post-actions{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;

    &__item{
      display: flex;
      align-items: center;
      column-gap: .2rem;
      font-size: 1.2rem;

      &__text{
        font-size: .8rem;
      }
    }
  }

  .comment-list{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;

    &__header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: .5rem;

      &__title{
        font-size: 1rem;
      }

      &__count{
        font-size: .8rem;
      }
    }

    .comment-item{
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border-radius: .5rem;

      .comment-item__content{
        margin-top: .1rem;
        margin-left: 2.5rem;
        font-size: .8rem;
      }
    }
  }
}