.circles-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .scroll-view {
    flex-grow: 1;
  }

  .circle-list-wrapper {
    display: flex;
    align-items: center;
    padding: 0 0.5rem 0.5rem;
  }

  .circle-list {
    flex-grow: 1;
    display: flex;
    // gap: .8rem;
    flex-wrap: nowrap;
    font-size: 0.7rem;
    box-sizing: border-box;

    &__item {
      flex-shrink: 0;
      padding: 0 0.5rem;
      border-radius: 1rem;
      color: #999;
      // border: 2px solid #e76038;
      transition: all 300ms;

      &--active {
        color: #000;
        // background-color: #e76038;
      }

      &--pin {
        flex-shrink: 0;
      }
    }
  }

  .post-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0 0.5rem 1rem;
  }
}
